<style>
    .alert{
        color: green;
        font-size: 40px;
    }
    
    </style>
    
    
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ message.tags }} alert-primary" id="msg" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    
    {% endif %}
    
    <!-- {% if error %}
    
    <div class="alert alert-{{ message.tags }} alert-danger  " id="msg" role="alert">
        {{error}}
    </div>
    {% endif %}
     -->
    